@model Agent

@{
    ViewData["Title"] = "Profil d'un Agent";
    string imageURL = "https://good-hawk-21.deno.dev/toaster" + Model.Id.ToString();
}

<div class="container">
    <h1>@Model.Name</h1>

    <div class="card mb-3" style="width: 10rem;">
        <img class="card-img-top" src="@imageURL" alt="Agent Image">
    </div>

    <table class="table table-hover" style="width: 40%; margin: 0 auto;">
        <tbody>

            <tr>
                <th>Numéro d'Identification</th>
                <td>@Model.Id</td>
            </tr>

            <tr>
                <th>Nom de l'Agent</th>
                <td>@Model.Name</td>
            </tr>

            <tr>
                <th>Rayon d'Action (Continent)</th>
                <td>@Model.Continent</td>
            </tr>

            <tr>
                <th>Robot(s) actuellement assigné(s)</th>
                <td>
                    <ul>
                        @foreach (var robot in Model.AssignedRobots)
                        {
                            <li>@robot.Name</li>
                        }
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Robot(s) assigné(s) par le passé</th>
                <td>@string.Join(", ", Model.FormerAssignedRobots)</td>
            </tr>

        </tbody>
    </table>
</div>
